@import '../styles/var.scss';

.todoList {
    position: relative;
    top: 100px;
    min-width: 450px;
    padding: 50px 20px;
    margin: 0 20px;
    border: 1px solid $BORDER-COlOR-1;
    border-radius: 10px;
    &Title {
        text-align: center;
        margin-bottom: 20px;
    }

    &Input {
        width: 100%;
    }

    &Footer {
        position: absolute;
        bottom: 20px;
        left: 25px;
        width: 100%;
    }
    
}

.todoItem {
    width: 100%;
    line-height: 20px;
    margin: 20px 0;

    &Delete {
        float: right;
    }
}