@import './mixin.scss';
@import './var.scss';
@import './initialize.scss';

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: $BG-COLOR-1;
  color: $FONT-COLOR-1;
}

a {
  color: $MAIN-COLOR-1;
}