// 主色调
$MAIN-COLOR-1: #2E61DF;


// 渐变色调
$LINEAR-GRADIENT-1: linear-gradient(to right, #FF5A00, #FFA000);


// 字体色调
$WHITE: #FFFFFF;
$FONT-COLOR-1: #002543;

// 边框色
$BORDER-COlOR-1: #D8D8D8;
$BORDER-COLOR-2: #DEDEE9;


// 背景色
$BG-COLOR-1: #F6FAFC;
$BG-COLOR-2: #1E2337;

// 阴影
$SHADOW-COLOR-1: #C3D6F2;

// 其他色调
$OTHER-COLOR-1: #E0E8EB;
$OTHER-COLOR-2: #3E485C;

